{{>templates/open page='home'}}

{{>templates/header}}

<main class="index-page">

  <div class="container">

    <h1>{{siteSettings.name}}</h1>

    <div
      data-target="account-info"
      >
    </div>

  <div
    class="forms"
    >

    <form
      data-collection-form="product"
      >

      <div class="form-heading mod-product">Create Product</div>

      <input
        name="name"
        placeholder="Name"
        type="input"
        />

      <input
        name="url"
        placeholder="url"
        type="input"
        />

      |

      <input
        type="submit"
        value="submit"
        />

    </form>

    <form
      data-string="create"
      >

      <div class="form-heading">Create Translated String</div>

      <input
        name="slug"
        placeholder="slug"
        type="input"
        />

      <input
        name="text"
        placeholder="text"
        type="input"
        />

      |

      <input
        type="submit"
        value="submit"
        />

    </form>

    <form
      data-product="import-from-csv"
      enctype="multipart/form-data"
      >

      <div class="form-heading">Upload products from csv</div>

      <input
        name="file"
        type="file"
        />

      |

      <input
        type="submit"
        value="submit"
        />

    </form>

  </div>

  <p>{{translate 'TEST-STRING'}}</p>

  <p>{{translate 'FACEBOOK'}}</p>

  <hr />

  {{#each products}}

    <p>{{translate 'NAME'}}: <a href="/{{../settings.region}}/{{../settings.language}}/product/{{slug}}">{{name}}</a> | <a href="" data-collection-delete-taraget="{{slug}}">delete</a></p>

  {{/each}}

  <hr />

  </div>

</main>

{{>templates/footer}}

{{>templates/close}}
