<header id="main-header">

  <div class="container">

    <div class="logo">

      <a
        href="/{{settings.region}}/{{settings.language}}"
        >
        {{translate 'HOME'}}
      </a>

    </div>

    <div>

    <div class="menu-items">

      <a
        class="mod-logged-out"
        href="/{{settings.region}}/{{settings.language}}/login/"
        >
        {{translate 'LOGIN'}}
      </a>

      <span class="mod-logged-out">|</span>

      <a
        class="mod-logged-out"
        href="/{{settings.region}}/{{settings.language}}/register/"
        >
        {{translate 'SIGN-UP'}}
      </a>

      <a
        class="mod-logged-in"
        data-auth="sign-out"
        href=""
        >
        {{translate 'SIGN-OUT'}}
      </a>

    </div>

  </div>

</header>
