<header id="main-header">

  <div class="container">

    <nav>

      <a href="/{{settings.region}}/{{settings.language}}">Home</a>

      <a
        class="mod-logged-out"
        href="/{{settings.region}}/{{settings.language}}/login/"
        >

        Login

      </a>

      <a
        class="mod-logged-out"
        href="/{{settings.region}}/{{settings.language}}/register/"
        >

        Register

      </a>

      <a
        class="mod-logged-in"
        data-auth="sign-out"
        href=""
        >
          Sign Out
        </a>

    </nav>

  </div>

</header>
